<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<title>File upload status</title>
	<TMPL_VAR js>
	<style><TMPL_VAR css></style>
	<link rel="stylesheet" type="text/css" href="Styles/bitweaver.css" media="all" />
</head>

<body>

<div id="container">

<fieldset>
	<legend>file upload status</legend>
		<div class="bar1">
			<div class="bar2" id="upload_status"></div>
		</div>
		
		<div id="complete" class="row">
			<div class="formlabel">upload progress</div>
			<div class="forminput"><TMPL_VAR percent_completed></div>
		</div>
		<div id="numfiles" class="row">
			<div class="formlabel">files uploaded</div>
			<div class="forminput"><TMPL_VAR files_uploaded> of <TMPL_VAR files_total></div>
		</div>
		<div id="position" class="row">
			<div class="formlabel">current position</div>
			<div class="forminput"><TMPL_VAR data_uploaded> / <TMPL_VAR data_total> Kbytes</div>
		</div>
		<div id="uploadspeed" class="row">
			<div class="formlabel">Approx. speed</div>
			<div class="forminput"><TMPL_VAR speed> Kbytes/Sec.</div>
		</div>
	
		<div id="timespent" class="row">
			<div class="formlabel">time spent</div>
			<div class="forminput"><TMPL_VAR time_spent></div>
		</div>
		<div id="timeleft" class="row">
			<div class="formlabel">time left</div>
			<div class="forminput"><TMPL_VAR time_left></div>
		</div>

		<TMPL_UNLESS inline>
		<div id="settings"><input type="checkbox" name="close_finished" value="1" id="close_finished" onClick="setCookie( 'close_finished', this.checked+'' );"><label FOR="close_finished" ACCESSKEY="X">Close pop-up when finished</label></div>
		</TMPL_UNLESS>

		<div id="message" class="message"></div>

		<div id="close">
			<a href="javascript: window.close();">close this window</a>
		</div>
	</legend>
</fieldset>

</div>

<script>SetUpSettings();</script>
</body>
</html>
